
.Speciesdata{
    position: absolute;
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
}
.searchbar{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 177, 196);
    left:2cm;
    top:6cm;
    margin:40px;
    width: 20%;
    border-radius: 10px;

}
.contentbody{
    display: flex;
    flex-direction: column;
    top: 8cm;
    margin-left:4cm;
}